.main-page {
  width: 320px;
  margin: 0 auto;
  &__title {
    text-align: center;
    @include font(20px, #000, normal);
  }
  &__strip {
    text-align: center;
  }
  &__description {
    color: #888b90;
  }
}